// COLORS:
$color-text-white: #FEFEFE;
$color-text-grey: #C8CDD2;
$color-text-light-black: #333;
$color-text-black: #000001;
$color-text-orange: #E55A04;
$color-text-purpole: #491965;
$color-primary: #faebd7;
$color-main-grey: #555;
$color-main-blue: #007bff;




// // COLORS:
// $color-primary: #6ceb96;
// $color-primary-light: #6ad37c;
// $color-primary-dark: #129c29;
// $color-main-dark: #000000;
// $color-yellow-light: #e2df3a;
// $color-yellow-lighter: #e0df75;
// $color-tertiary: #d46423;
// $color-tertiary-light: #f38218;


// $color-grey-light-1: #eee;
// $color-grey-light-2: #f7f7f7;
// $color-grey-dark: #777;
// $color-text-white: #ffff;

// // font defualt
// $defualt-font-size: 1.6rem;


